@model Digital_Hub.Models.Customer_Detail

@{ ViewData["Title"] = "Details"; }
<style>
    body {
        background-image: url(https://images.hindustantimes.com/tech/img/2021/07/29/1600x900/Computer_7_1625598424996_1627537012527.jpg);
    }
</style>
<!--code of the detail page table-->
<h1>Details</h1>
<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<div style="background-color:aliceblue;">

    <div>
        <h4>Customer Detail</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Customer Name
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer_Name)
            </dd>
            <dt class="col-sm-2">
                Email
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                Phone
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt class="col-sm-2">
                Delivery Address
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Delivery_Address)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
